* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 800px;
  margin: 0 auto;
  border: 3px solid #931420;
  background-color: #fffded;
}

html {
  background-color: white;
}

header {
  padding: 1.5em 0 2em 0;
  border-bottom: 3px solid #931420;
  background-image: -moz-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
  background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
  background-image: -o-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
  background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
  position: relative;
}

header h2 {
  font-size: 175%;
  color: #800000;
}

header h3 {
  font-size: 130%;
  font-style: italic;
}

header img {
  float: left;
  padding: 0 30px;
}

.shadow {
  text-shadow: 2px 2px 2px #800000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  width: 20%;
  text-align: center;
  padding: 1cm 0;
  text-decoration: none;
  background-color: #800000;
  color: white;
  font-weight: bold;
}

nav li a.current {
  color: yellow;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #800000;
  width: 100%;
}

.submenu li {
  float: none;
}

.submenu li a {
  width: auto;
  text-align: left;
  padding: 0.5cm 1cm;
}

nav li:hover .submenu {
  display: block;
}

nav::after {
  content: "";
  clear: both;
  display: block;
}

main {
  clear: left;
}

section {
  width: 525px;
  float: right;
  padding: 0 20px 20px 20px;
}

section h2 {
  color: #800000;
  font-size: 115%;
  padding: 0.5em 0 0.25em 0;
}

section p {
  padding-bottom: 0.5em;
}

section blockquote {
  padding: 0 2em;
  font-style: italic;
}

section ul {
  padding: 0 0 0.25em 1.25em;
  list-style-type: circle;
}

section li {
  padding-bottom: 0.35em;
}

aside {
  width: 215px;
  float: right;
  padding: 0 20px 20px 20px;
}

aside h1 {
  font-size: 150%;
  padding: 0.5em 0 0.25em 0;
  margin: 0;
}

aside h3 {
  font-size: 105%;
  padding-bottom: 0.25em;
}

aside img {
  padding-bottom: 1em;
}

footer {
  background-color: #931420;
  clear: both;
  padding: 1em 0;
  color: white;
}

footer p {
  text-align: center;
}

.speakers-heading {
  border: double 6px #800000;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

article img {
  float: right;
  margin: 0.5em 0 1em 1em;
  border: 1px solid black;
}
